body
{
    margin: 0;
}
h1
{
    color: white;
    margin-top:20px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.623) 0.1%, white)
}

.back_news
{
    background-color:white;
    height: 600px;
}

.blocosx
{
    color: white;
    background-color: rgb(8, 151, 73);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.562);
    margin-top: 25px;
    padding: 4% 5%;
    border-radius:10px;
}

.blocosy
{
    background-color: rgb(193, 255, 221);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.562);
    margin-top: 25px;
    padding: 4% 5%;
    border-radius:10px;
}
.titulo
{
    text-align:center;
}
.nome
{
    margin-top:10px;
}

.txt
{
    text-align:justify;
}

.blocos h2
{
    text-align: center;
}

.side_bar
{
    background-color:rgb(0, 0, 0);
    height: 600px;
}

.items
{
    background-color: rgb(9, 49, 49);
    height: 150px;
    margin-top: 2px;
}

.barra
{
    background-color:orange;
    background-size:cover;
    height: 4px;
}