h1
{
    text-align: center;
    color:rgb(185, 48, 48);
    font-weight: bold; 
}

h3
{
    text-align: center;
    color:rgb(192, 19, 19);
    font-weight: bold; 
}

body
{
    background-image:url(../imagens/fundo\ login.png);
    background-size:cover;
}

.form-control
{
    background-color:rgba(9, 145, 61, 0.137);
    color: white;
    font-size: 20px;
    text-align:center;
}

.text
{
    text-align: justify;
}